@import '../../shared/scss/colors.scss';

html, body{
    background: $background-general;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #FFF;

    &:hover{
        color: rgb(255, 145, 0);
    }
}

.title{
    font-family: 'Staatliches', cursive !important;
    font-size: 5rem;
    font-weight: bold;
    color: #FFF;
}

.ff-anton{
    font-family: 'Anton', sans-serif;
}

