a{
    text-decoration: none;
    cursor: pointer;
    color: #FFF;

    &:hover{
        color: red;
    }
}

.title{
    font-family: 'Staatliches', cursive !important;
    font-size: 5rem;
    font-weight: bold;
    color: #FFF;
}

.ff-anton{
    font-family: 'Anton', sans-serif;
}

